#repertoryin .update .confirm{
	margin-left:218px;
}
#repertoryin .update .cannel{
	margin-left:40px;
}
#repertoryin .popups .popuparea table{
	padding:20px 30px;
}
#repertoryin .popups .del .confirm{
	margin-left:92px;
}
#repertoryin .popups .del .cannel{
	margin-left:8px;
}